@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

:root {
    --bg: #ba00b0;
}

body {
    direction: rtl;
    font-family: 'Rubik', sans-serif;
    background-color: var(--bg);
}

h1 {
    color: white;
    text-align: center;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: white;
    margin: auto;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 4px #00000059;
    padding-bottom: 100px;
}

.task {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 12px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    padding: 12px 0;
    margin: 0px;
}

button {
    background-color: var(--bg);
    ;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    margin: 6px;
}

button:hover {
    filter: brightness(1.2);
}

input,
select {
    border: 1px solid;
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 3px;
}