// background
body {
    background-color: #E5EEFF;
}

.container {
    margin: 0 auto;
}

.container-grid {
    display: grid;
    gap: 1.25em;
    justify-content: center;

    // space in all diractions 
    padding-inline: 40px;
    padding-top: 70px;
    padding-bottom: 70px;

    // if the boxes isn't eventry this
    // grid-auto-columns: 1fr;

    grid-template-areas:
        "trees-on-waters two-persons discover_area discover_area"
        "beach cow discover_area discover_area"
        "far-tree surfers sun-set palm-trees"
        "form_area form_area monkey sleeping-man"
        "form_area form_area fields train"
        "form_area form_area round-building little-boat";

}

// all the images size
img {
    max-width: 296px;
}

// discover text area------
.discover-area {
    background-color: #020253;

    font-family: Assistant;
    font-weight: bold;

    // flex
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // grid area
    grid-area: discover_area;

    // size
    max-width: 613px;

    // hebrew direction
    direction: rtl;

    line-height: 1.8;
}

.discover-area h1 {
    font-family: Assistant;
    font-weight: bold;
    font-size: 3.8125rem;

    color: #0EE1DA;
}

.discover-area p {
    font-family: Assistant;
    font-weight: normal;
    font-size: 1.25rem;
    color: white;
}

// images 1st group
#trees-on-waters {
    grid-area: trees-on-waters;
}

#two-persons {
    grid-area: two-persons;
}

#beach {
    grid-area: beach;
}

#cow {
    grid-area: cow;
}

#sun-set {
    grid-area: sun-set;
}

#palm-trees {
    grid-area: palm-trees;
}

#far-tree {
    grid-area: far-tree;
}

#surfers {
    grid-area: surfers;
}

// discover-area end--------


// form container
.form-area {
    background-color: #8E097C;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // grid area
    grid-area: form_area;

    // size
    max-width: 613px;

    // hebrew direction
    direction: rtl;
}

.form-area-heading {
    text-align: center;

    margin-bottom: 5em;

    line-height: 2;
}

form {
    // flex
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 500px;
}

.form-area h2 {
    font-family: Assistant;
    font-weight: bold;
    font-size: 2.1875rem;
    color: white;
}

.form-area p {
    font-family: Assistant;
    font-weight: normal;
    font-size: 1.25rem;
    color: white;
}

.form-area label {
    color: #0EE1DA;
    font-family: Heebo-Bold;
    font-size: 1rem;
}

label[for=email],
label[for=tell-us] {
    margin-top: 0.625em;
}

.form-area input {
    background-color: #E5EEFF;

    width: 100%;
    height: 60px;

    border: none;
    border-bottom: 5px solid #0EE1DA;
}

textarea {
    width: 500px;

    background-color: #E5EEFF;

    border: none;
    border-bottom: 5px solid #0EE1DA;

    resize: none;
}

.form-area input[type=submit] {
    color: #011560;
    font-family: Heebo-Bold;
    font-size: 1.5rem;

    background-color: #0EE1DA;

    margin-top: 0.8em;
}

// images 2nd group
#monkey {
    grid-area: monkey;
}

#sleeping-man {
    grid-area: sleeping-man;
}

#fields {
    grid-area: fields;
}

#train {
    grid-area: train;
}

#round-building {
    grid-area: round-building;
}

#little-boat {
    grid-area: little-boat;
}