:root {
    --main-color: #0EE1E1;
    --light-background: #F0FFFF;
    --gray-background: #F8F8F8;
    --input-background: #E5EEFF;
    --dark: #2c2c2c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Heebo;
    src: url(../fonts/Heebo-VariableFont_wght.ttf);
}